<br>
<h1>Cartelera</h1><br>
{{#each peliculas}}
<div class="contenido-pelicula">
    <div class="datos-pelicula">
        <h2>{{this.Titulo}}</h2><br>
        <p>{{this.Sinopsis}}</p>
        <br>
        <div class="boton-pelicula">
            <a href="/pelicula/{{this.idPelicula}}">
                <img src="img/varios/btn-mas-info.jpg" width="120" height="30" alt="Ver info">
            </a>
        </div>
        <div class="boton-pelicula">
            <a href="http://www.cinestar.com.pe/popups/trailer/{{this.Link}}"
                onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )">
                <img src="img/varios/btn-trailer.jpg" width="120" height="30" alt="Ver trailer">
            </a>
        </div>
    </div>
    <img src="img/pelicula/{{this.idPelicula}}.jpg" width="160" height="226"><br><br>
</div>
{{/each}}